<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Product Manager</title>
</head>
<body>
	<h1>Products</h1>
	<form th:action="@{/products}">
 	Search: <input type="text" name="key" id="key" th:value="${key}" required="required"/> 
	<input type="submit" value="Search">
 	<input type="button" value ="Clear" onclick="clearFilter()"/>
	</form>
	<br>
	<table border="1" cellpadding="10">
	<thead>
	<tr>
	<th>ID</th>
	<th>Name</th>
	<th>Brand</th>
	<th>Made in</th>
	<th>Price</th>
	</tr>
	</thead>
	<tbody>
	<tr th:each="product:${products}">
	<td th:text="*{product.id}"></td>
	<td th:text="*{product.name}"></td>
	<td th:text="*{product.brand}"></td>
	<td th:text="*{product.madein}"></td>
	<td th:text="*{product.price}"></td>
	<td>
	<a th:href="@{'/edit/'+${product.id}}">Edit</a>
	<a th:href="@{'/delete/'+${product.id}}">Delete</a>
	</td>
	</tr>
	</tbody>
	</table>
	<br>
	<button><a href="/addProducts" style="text-decoration: none">Add Product</a></button>
	<script type="text/javascript">
		function clearFilter(){
			window.location='/products';
			
		}
	</script>
</body>
</html>